# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/

# build
dist/
build/

# env
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# debug
npm-debug.log*

# mastra
.mastra/
.vercel
